body{
	margin: 0;
	padding: 0;
	font-family: Helvetica;

}
p{
	font-size: 23px;
}
h1{
	font-size: 23px;
}
h5{
	font-size: 15px;
}
section.sec1{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background: url('../images/background.jpg');
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
}
.prof-pic{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	position: 12;
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: rgba(0,0,0,0.6);
	box-sizing: border-box;
}
nav .brand{
	float: left;
	height: 100%
	line-height: 70px;
}
nav .brand h2{
	margin: 0;
	padding: 0;
	color: #fff
}
nav ul{
	float: right;
	display: flex;
	margin: 0;
	padding: 0;
}
nav ul li{
	list-style: none;

}nav ul li a{
	position: relative;
	display: block;
	height: 70px;
	line-height: 70px;
	padding: 0 20px;
	box-sizing: border-box;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	transition: .5s;
}
nav ul li a:hover{
	color: #262626;
}
nav ul li a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transform-origin: right;
	z-index: -1;
	transform: scaleX(0);
	transition: transform .5s;
}
nav ul li a:hover:before{
	transform-origin: left;
	transform: scaleX(1);
}
.prof-box{
    width: 376px;
    height: 55px;
    background: rgba(0,0,0,0.4);
    padding: 445px;
    color: white;
    margin: 0 auto;
    margin-bottom: 500px;
    text-align: center;

}
.box{
	box-shadow: 0px 1px 0px 0px, 
}
.color{
	background: white;
}
.r{
	display: flex;
}
.sideColumn{
	flex: 0 0 16%;
}
.main{
	flex: 0 0 66%;
	margin-top: 2rem;
	margin-bottom: 3rem;
}
.header{

}
.story{
	display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}
h2 {
    font-weight: 200;
    font-size: 2rem;
    color: darkslategray;
    text-transform: uppercase;
    text-align: center;
}

.boxed {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 30px;
}
.boxedHeader{
    padding: .75rem 1.25rem;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.075);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    font-size: 20px
}
.title{
	    float: right;
}
.boxedBody{
	padding: .25rem 1.25rem;
    flex: 1 1 auto;
    font-size: 20px;
}
h3{
	margin: 0 auto;
	text-align: center;
}
.fix{
	display: flex;
}